<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="EN">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>FRent</title>
    <link rel="stylesheet" type="text/css" th:href="@{'/styles/style.css'}">
</head>

<body>
    <header class="top">
        <p><a href="index.html"><img th:src="@{'/images/osago.jpg'}" alt="osago"></a></p>
        <div></div>
    </header>
    <div class="panel">

        <div class="panel-name">
            <p><b>Панель управления</b></p>
        </div>
        <div class="panel-link-side">
            <a href="cars.html">Автомобили</a>
        </div>
        <div class="panel-link-side">
            <a href="maintenance.html">Техобслуживание</a>
        </div>
        <div class="panel-link-side">
            <a href="owner.html">Клиенты</a>
        </div>
        <div class="panel-link-side">
            <a href="employees.html">Сотрудники</a>
        </div>
    </div>
    <div class="container">
        <table class="table table-hover">
            <thead class="thead">
                <th class="number">#</th>
                <th></th>
                <th>Марка</th>
                <th>Модель</th>
                <th>Год Выпуска</th>
                <th>Номер</th>
                <th>Вин код</th>
            </thead>

            <tbody>
                <tr th:each="car, iterator : ${cars}">
                    <!--/*@thymesVar id="car" type="com.regionosago.cms.persistence.entities.Cars"*/-->
                    <span>
                        <td th:text="${iterator.index + 1}"></td>
                        <td>
                            <div class="icon-img">
                                <img th:src="@{'/cars/images/' + ${car.id}}" alt="" width="150px" height="100px" />
                            </div>
                        </td>
                        <td th:text="${car.model}"></td>
                        <td th:text="${car.serial}"></td>
                        <td th:text="${car.carYear}"></td>
                        <td th:text="${car.number}"></td>
                        <td th:text="${car.vinCode}"></td>
                    </span>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>