<!DOCTYPE html>
<html>
<header>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Osago Region</title>
    <link rel="stylesheet" href="/styles/styles.css">
</header>

<body>
    <div id="top">
        <p><img src="../../static/img/osago.jpg"></p>
    </div>
    <div id="panel">
        <p><a href="../index.html">Главная</a></p>
        <h3>Панель управления</h3>
        <ul>
            <li>
                <div id="panel_car">
                    <p>Автомобили</p>

                    <ul>
                        <li><a href="cars.html">Автомобили</a> </li>
                        <li><a href="maintenance.html">Техобслуживание</a></li>
                        <li><a href="owner.html">Владельцы</a></li>
                    </ul>

                </div>
            </li>
            <li>
                <div id="panel_agreement">
                    <p><a href="../agreement.html">Договоры аренды</a></p>
                </div>
            </li>
            <li>
                <div id="panel_user">
                    <p>Пользователи</p>
                    <ul>
                        <li><a href="../users/clients.html">Клиенты</a></li>
                        <li><a href="../users/employees.html">Сотрудники</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <div id="content"></div>
</body>

</html>